:root { 
--blue_gray_200:#bac1ce; 
--blue_gray_100:#d6dae2; 
--blue_gray_400:#74839d; 
--blue_700:#1976d2; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--blue_A700:#0061ff; 
--red_A200:#ff4b4b; 
--gray_900:#0d1624; 
--gray_900_01:#2a2a2a; 
--black_900_0c:#0000000c; 
--green_600:#349765; 
--gray_50:#f9fbff; 
--black_900_01:#130e00; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_gray_800:#363853; 
--blue_gray_900:#262b35; 
--white_A700:#ffffff; 
--gray_700_11:#55555511; 
}